@model List<lab3.Models.Student>

<h2>Students</h2>

<table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Course</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.FullName</td>
                <td>@student.Course.Title</td>
                <td>
                    <a asp-action="Details" asp-route-id="@student.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@student.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@student.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create">Create New</a>
</p>
